/* CSS Acerca de mi */

body{
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    background-color: #eed4f3;
    height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Asegura que el main ocupe toda la altura del body */
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: #00000024;
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    gap: 18px;
    padding: 14px;
    z-index: 1000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.nav a {
    color: #f7f0f5;
    text-decoration: none;
    font-size: 18px;
    transition: 0.2s;
    text-shadow: 0 0 10px #fc06be;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 22px;
    align-items: center;
}

.nav a:hover {
    color: #fc06be;
    text-shadow: 0 0 6px #fc06be;
}

.nav a.active {
    color: #fc06be;
    text-shadow: 0 0 8px #fc06be;
    border-bottom: 2px solid #fc06be;
    padding-bottom: 4px;
}

.container {
    background: rgba(255, 255, 255, 0.603);
    backdrop-filter: blur(3px);
    padding: 10px;
    margin-top: 80px;
    border-radius: 15px;
    max-width: 1500px;
    max-height: 1000px;
    width: 85%;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    margin: 20px;
}

.hobbies ul {
    list-style-type: none;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 0;
}

.top-music ol {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 0;
}

.title1{
    font-size: 30px;
    color: #f7f0f5;
    margin-bottom: 10px;
    margin-top: 10px;
    text-shadow: 0 0 10px #fc06be;
}


.title2{
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: #ff78dd;
    margin-bottom: 20px;
}

#photo {
    width: 150px; /* Ajusta el tamaño */
    aspect-ratio: .8; /* Mantiene la proporción */
    border-radius: 50%; /* Para la forma circular base */
    margin-bottom: 20px;
}


.footer {
  text-align: center;
  padding: .1rem 0;
  margin-top: 0rem;
  opacity: 0.8;
  font-size: 0.9rem;
}
