body{
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    background-color: #eed4f3;
    height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Asegura que el main ocupe toda la altura del body */
}

.container {
    background: rgba(255, 255, 255, 0.603);
    backdrop-filter: blur(3px);
    padding: 40px;
    border-radius: 15px;
    max-width: 400px;
    width: 85%;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.title1{
  font-size: 30px;
    color: #f7f0f5;
    margin-bottom: 10px;
    margin-top: 10px;
    text-shadow: 0 0 10px #fc06be;
}

#photo {
    width: 120px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.footer {
  text-align: center;
  padding: .1rem 0;
  margin-top: 0rem;
  opacity: 0.8;
  font-size: 0.9rem;
}